@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@font-face {
    font-family: 'barca' ;
    src: url('barcadbold.ttf') format('truetype');
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

:root {
    --cor0:#c700c7;
    --cor1:#ff00ffa0;
    --cor2:blueviolet; 
    --cor3:blue;
    --cor4:purple;

}

* {
    box-sizing: border-box;
    max-width: 105%;
}

body {
    background-color: #424242;
      
}

header {
    background-image: linear-gradient( to bottom, #c700c7, rgb(80, 0, 80));
    color: white; 
    width: 200%;   
    margin-top: -21px;
    margin-left: -21px;
    margin-right: -21px;
    padding: 30px 30px 15px
        
}

header > h1 {
    font-family: 'Bebas Neue';
    font-size: 1.9em;
    text-align: center;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 10px;

}

nav > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    color: #ff00ffa0;
    padding: 4px 8px;
}

nav > a:hover {
    background-color: #ff00ffbf;
    color: #ffffff74;
    border-radius: 6px;
    
}


#pequena {
    width: 50%;
}

main {
    background-color: white;
    max-width: 70%;
    padding: 10px 15px;
    margin: 3px;
    margin: auto;
    
}

main > h1 {
    font-family:'barca';
    font-size: 1.7em;
    text-align: center;
    color: #c700c7;
    
}

main > h2 {
    font-family: 'Silkscreen';
    font-size: 25px;
    background-image: linear-gradient(to right, #ba00babf, white);
    color: white;
}

main > p {
    text-indent: 15px;
    font-size: 1em;
    font-weight: 700;
    text-align: justify;
    padding-top: 20px;
}

img {
    margin: auto;
    display: block;
    padding: 10px;
    width: 100%;
}


iframe {
    max-width: 100%;
    margin: auto;
    margin-top: 20px;
    display: block;
}

aside {
    background-color: var(--cor0);
    max-width: 96%;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 1.08em;
    
}

aside > h2 {
    background-color: var(--cor4);
    color: white;
    border-top-right-radius: 15px;
    padding: 10px;
}

aside > ul {
    
    columns: 2;
}

aside > p {
    text-indent: 20px;    
    padding: 0px 0px 10px 10px;
}   


#android-q {
    line-height: 25px;
}

#local {
    text-decoration: none;
    color: blue;

}

#local:hover {
    color: purple;
}

#mascote {
    animation-duration: 3s;
    animation-name: slidein;
}

strong {
    color: blueviolet;
}


